---
import DarkLayout from "../../layouts/DarkLayout.astro";
import Contact from "../../components/Contact.astro";

const faqs = [
    {
        title: "Why is only Gmail supported?",
        content: "Besides its popularity, Gmail was the only email provider, I could find, that supported an accessible API which allowed me to build the necessary features for MailSave. If I become aware of any other email providers that support a similar API, and people ask for it, we can evaulate building MailSave for other email providers.",
    },
    {
        title: "Won't turning on email notifications spam my Inbox with emails I don't want?",
        content: "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    },
    {
        title: "Do my emails remain private with MailSave activated?",
        content: "Yes. All emails and its contents are fetched and processed directly on your device. They are never sent anywhere and are not stored by Jajanku.",
    },
    {
        title: "What languages do my emails have to be in?",
        content: "MailSave currently supports English and Indonesian emails. Support for other languages can be obtained by installing the optional larger language model.",
    }
];
---

<DarkLayout title="FAQs - Jajanku">
    <div class="container mx-auto px-8 pb-16 pt-8" style="max-width:960px;">
        <div class="mb-6">
            <span class="text-sm font-semibold mt-2 text-gray-400 mb-1">Jajanku</span>
        </div>

        <h1 class="md:text-6xl text-4xl font-bold mb-4 text-white">
            Frequently asked questions about <span class="text-color-primary-active">MailSave</span>
        </h1>

        <div class="mx-auto mt-8 rounded-lg shadow-md border border-gray-400">
            {
                faqs.map((faq, index) => (
                    <div
                        class={
                            "faq-item border-gray-600 py-6 px-6" +
                            (index === faqs.length - 1 ? "" : " border-b")
                        }
                    >
                        <button class="faq-question flex w-full justify-between items-center text-left text-white font-medium md:text-xl text-md">
                            {faq.title}
                            <img
                                src="/img/ico-plus.svg"
                                class="ml-4 faq-expand-icon"
                            />
                        </button>
                        <p class="faq-answer mt-4 text-white hidden">
                            {faq.content}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>

    <hr class="border-gray-600 mt-14" />
    <div class="py-16">
        <Contact
            title="Have other questions?"
            body="Please don't hesitate to send an email to:"
        />
    </div>
</DarkLayout>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const faqItems = document.querySelectorAll(".faq-item");

        faqItems.forEach((item) => {
            const question = item.querySelector(".faq-question");
            const answer = item.querySelector(".faq-answer");

            if (!question || !answer) {
                return;
            }

            const icon = question.querySelector(".faq-expand-icon");

            if (!icon) {
                return;
            }

            question.addEventListener("click", () => {
                answer.classList.toggle("hidden");
                icon.classList.toggle("rotate-45");
            });
        });
    });
</script>
