---
import EmojiBlock from '../components/EmojiBlock.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jajanku - Tracking expenses should be easy.">
	<main class="mx-auto">
		<div class="relative py-12 h-screen flex flex-col items-center justify-center" style="background-color: #080707">
			<div class="absolute container left-1/2 transform -translate-x-1/2 top-6 px-8 flex flex-col justify-start" style="max-width:1280px;">
				<div class="flex flex-row items-center space-x-3">
					<img src="/img/logo.svg" alt="Jajanku Logo" class="w-12">
					<span class="text-md font-semibold mt-2 text-white mb-1">Jajanku</span>
				</div>
			</div>

			<section class="justify-start w-full container mx-auto px-8" style="max-width:1280px;">
				<div class="container" style="max-width:960px;">
					<h1 class="md:text-[96px] sm:text-7xl font-extrabold mb-12 text-white">Tracking expenses should be <span style="color: #D2FF99">easy</span>.</h1>
					<div class="space-x-4">
						<a href="#" class="inline-block"><img src="/img/badge-app-store.png" alt="Download on App Store" class="h-10"></a>
						<a href="#" class="inline-block"><img src="/img/badge-google-play.png" alt="Get it on Google Play" class="h-10"></a>
					</div>
				</div>
			</section>
		</div>

		<div class="relative container mx-auto -mt-60 px-4 pb-8" style="max-width:1280px;">
			<section class="text-center grid grid-cols-3 mb-12 flex flex-row items-center justify-center">
				<p class="text-left text-6xl font-bold w-xl">Straight to the point.</p>
				<img src="/img/demo-1.png" alt="App Screenshot" class="mx-auto w-108 mb-6">
				<p class="text-left text-lg w-xl">A user interface built on a foundation of simplicity to accomplish what you need with Jajanku as quickly as possible.</p>
			</section>

			<section class="grid grid-cols-2 md:grid-cols-4 gap-8 mb-12">
				<EmojiBlock emoji="/img/ico-emoji-running.png" text="No sign-up required" altText="No sign-up required" />
				<EmojiBlock emoji="/img/ico-emoji-money-bag.png" text="Track daily expenses" altText="Track daily expenses" />
				<EmojiBlock emoji="/img/ico-emoji-calendar.png" text="See the day's remaining budget" altText="See the day's remaining budget" />
				<EmojiBlock emoji="/img/ico-emoji-lock.png" text="Data secured offline on device" altText="Data secured offline on device" />
			</section>
		</div>
	</main>

	<footer class="text-center text-sm mt-16 md:pb-16 sm:pb-8">
		<img src=/img/ico-emoji-indonesia.png class="w-6 h-6 mx-auto mb-2">
		<p class="mb-8 text-lg font-bold text-gray-800">Developed in Indonesia</p>
		<p><a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a> | <a href="#" class="text-gray-400 hover:text-white">Contact</a></p>
	</footer>
</Layout>