---
import ContactModal from '../components/ContactModal.astro';
import EmojiBlock from '../components/EmojiBlock.astro'
import Quote from '../components/Quote.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jajanku - Tracking Expenses Should Be Easy">
	<main class="mx-auto">
		<div class="relative py-12 h-screen flex flex-col items-center justify-center" style="background-color: #080707">
			<div class="absolute container left-1/2 transform -translate-x-1/2 top-6 md:px-8 px-6 flex flex-col justify-start" style="max-width:1140px;">
				<div class="flex flex-row items-center space-x-3">
					<img src="/img/logo.svg" alt="Jajanku Logo" class="w-12">
					<span class="text-md font-semibold mt-2 text-white mb-1">Jajanku</span>
				</div>
			</div>

			<section class="justify-start w-full container mx-auto md:px-8 px-6" style="max-width:1140px;">
				<div class="container" style="max-width:960px;">
					<h1 class="-mt-14 md:text-[102px] md:leading-[112px] text-[68px] leading-[76px] font-black text-white">Tracking expenses should be <span class="md:inline hidden relative" style="color: #D2FF99;"><p id="keyword_desktop" class="keyword-shuffle" style="left: 20px;"></p></span></h1>
					<div class="relative md:hidden block h-[68px] -mt-3">
						<span id="keyword_mobile" class="text-[68px] leading-[76px] font-black keyword-shuffle" style="color: #D2FF99"></span>
					</div>
					<div class="space-x-4 md:mt-12 mt-14">
						<a href="https://apps.apple.com/id/app/jajanku/id6499272232" target="_blank" class="inline-block"><img src="/img/badge-app-store.png" alt="Download on App Store" class="md:h-10 h-9"></a>
						<a href="https://play.google.com/store/apps/details?id=com.andydotdaniel.jajanku" target="_blank" class="inline-block"><img src="/img/badge-google-play.png" alt="Get it on Google Play" class="md:h-10 h-9"></a>
					</div>
				</div>
			</section>
		</div>

		<div class="relative container mx-auto md:-mt-60 -mt-40 md:px-4 px-2 pb-8" style="max-width:1140px;">
			<section class="text-center md:grid md:grid-cols-2 mb-12 px-4 flex flex-col items-center justify-center">
				<div class="md:pr-8">
					<img src="/img/demo-1.png" alt="App Screenshot" class="mx-auto md:w-11/12">
				</div>

				<div class="animate-text-hidden md:mt-0 mt-6">
					<h2 class="text-left md:text-[86px] text-[52px] md:leading-[92px] leading-[60px] font-extrabold w-xl block">Straight to the point.</h2>
					<p class="text-left md:text-2xl text-lg w-xl mt-6">A user interface built on a foundation of simplicity to accomplish what you need as quickly as possible.</p>
				</div>
			</section>

			<div class="px-4 md:hidden block flex justify-center animate-text-hidden md:mt-0 mt-16">
				<hr class="bg-zinc-300 w-[2px] h-48" />
			</div>

			<section class="text-left mb-12 px-4 items-center justify-center md:mt-40 mt-16">
				<div class="animate-text-hidden md:w-9/12 w-full">
					<h2 class="md:text-[86px] text-[52px] md:leading-[92px] leading-[60px] font-extrabold block">Stay on track.</h2>
					<p class="md:text-2xl text-lg mt-6">Review your expenses to see if you're on track, and zoom out with monthly breakdowns to discover what you spend the most on.</p>
				</div>

				<div class="md:rounded-3xl w-full rounded-xl overflow-hidden border-1 border-gray-600 mt-12">
					<img src="/img/demo-2-dual.jpg" alt="App Screenshot" class="mx-auto w-full">
				</div>
			</section>

			<section class="text-left md:grid md:grid-cols-2 mb-12 px-4 flex flex-col items-center justify-center md:mt-40 mt-24">
				<div>
					<div class="mb-16 animate-text-hidden">
						<Quote text={"Two weeks into the month, and I realize I've spent way too much."} authorName={"Andrew Daniel"} authorTitle={"Professional Overspender"} />
					</div>

					<div class="animate-text-hidden md:mt-0 mt-24">
						<h2 class="md:text-[86px] text-[52px] md:leading-[92px] leading-[60px] font-extrabold w-xl block">Be mindful everyday.</h2>
						<p class="md:text-2xl text-lg w-xl mt-6">Do you find yourself always going over your monthly budget? Jajanku believes in setting daily budgets because adding up all the small stuff leads to something big.</p>
					</div>
				</div>

				<div class="md:pl-8 md:mt-0 mt-4">
					<img src="/img/demo-4.png" alt="App Screenshot" class="mx-auto md:w-11/12">
				</div>
			</section>

			<!-- <section class="text-left mb-12 px-4 items-center justify-center md:mt-40 mt-16">
				<div class="animate-text-hidden md:w-9/12 w-full">
					<h2 class="md:text-[86px] text-[52px] md:leading-[92px] leading-[60px] font-extrabold block">Make it automatic.</h2>
					<p class="md:text-2xl text-lg mt-6">
						Jajanku offers an optional feature called <u>MailSave</u> that uses a machine learning model built into the app to understand transaction-related emails that are normally sent by certain payment providers. <br /><br />Like everything else, all processing happens securely on device. This ensures privacy while automatically saving your expenses.
					</p>
				</div>

				<div class="md:rounded-3xl w-full rounded-xl overflow-hidden border-1 border-gray-600 mt-12">
					<video controls class="video-fill">
						<source src="/mailsave_introduction.mp4" type="video/mp4">
					  	Your browser does not support video.
					</video>
				</div>
			</section> -->

			<section class="mb-12 md:mt-40 mt-24">
				<div class="grid grid-cols-2 md:grid-cols-4 gap-8 place-items-center">
					<EmojiBlock emoji="/img/ico-emoji-running.png" text="No sign-up required" altText="No sign-up required" />
					<EmojiBlock emoji="/img/ico-emoji-money-bag.png" text="Track daily expenses" altText="Track daily expenses" />
					<EmojiBlock emoji="/img/ico-emoji-calendar.png" text="See the day's remaining budget" altText="See the day's remaining budget" />
					<EmojiBlock emoji="/img/ico-emoji-lock.png" text="Data secured offline on device" altText="Data secured offline on device" />
				</div>
			</section>
		</div>
	</main>

	
	<div class="md:mt-12 mt-14 mx-auto text-center px-6">
		<h3 class="font-extrabold md:text-5xl text-4xl">Free to download, free to use.</h3>
		<div class="space-x-4 mt-8">
			<a href="https://apps.apple.com/id/app/jajanku/id6499272232" target="_blank" class="inline-block"><img src="/img/badge-app-store.png" alt="Download on App Store" class="md:h-10 h-9"></a>
			<a href="https://play.google.com/store/apps/details?id=com.andydotdaniel.jajanku" target="_blank" class="inline-block"><img src="/img/badge-google-play.png" alt="Get it on Google Play" class="md:h-10 h-9"></a>
		</div>
	</div>

	<footer class="text-center text-sm md:mt-36 mt-8 md:pb-16 pb-12">
		<img src=/img/ico-emoji-indonesia.png class="w-6 h-6 mx-auto mb-2">
		<p class="mb-8 text-lg font-bold text-gray-800">Developed in Indonesia</p>
		<p><a href="/privacy-policy" class="text-gray-400 hover:text-gray-700">Privacy Policy</a> | <span id="contact-link" class="text-gray-400 hover:text-gray-700 cursor-pointer">Contact</span></p>
	</footer>

	<ContactModal />
</Layout>

<style>
	.keyword-shuffle {
		position: absolute;
		bottom: 0;
		opacity: 0;
		top: 30px;
		transition: all 0.60s ease-out;
	}

	.keyword-shuffle-animate-in {
		opacity: 1;
		top: 5px;
	}

	.keyword-shuffle-animate-out {
		opacity: 0;
		top: 30px;
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
			top: 30px;
		}
		40%,
		90% {
			opacity: 1;
			top: 5px;
		}
		100% {
			opacity: 0;
			top: 5px;
		}
	}

	.animate-text-hidden {
		opacity: 0;
		filter: blur(1px);
		transform: translateY(20px);
		transition: all 0.5s ease-in-out;
	}

	.show-animate-text-hidden {
		filter: blur(0);
		transform: translateY(0);
		opacity: 1;
	}

	@media (prefers-reduced-motion) {
		.animate-text-hidden {
			transition: none;
		}
	}

	.video-fill {
		object-fit: cover;
		width: 100%;
		height: 100%;
		background-color: #080707;
	}
</style>

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("show-animate-text-hidden");
			}
		});
	})
	const hiddenAnimateElements = document.querySelectorAll(".animate-text-hidden");
	hiddenAnimateElements.forEach((element) => { observer.observe(element); })
</script>

<script>
	function shuffleWords(currentIndex: number) {
		const words = ['easy.', 'private.', 'daily.', 'yours.'];

		if (currentIndex === words.length) {
			currentIndex = 0;
		}

		let element: HTMLElement | null;
		const desktopElement = document.getElementById('keyword_desktop')!;

		if (window.getComputedStyle(desktopElement.parentElement!).getPropertyValue('display') !== 'none') {
			element = desktopElement;
		} else {
			element = document.getElementById('keyword_mobile')!;
		}

		if (element != null) {
			element.textContent = words[currentIndex];
		}

		return currentIndex + 1;
	}

	function runShuffleTimer(index: number, state: number) {
		const shuffleElements = document.querySelectorAll('.keyword-shuffle');
		const newState = state + 1;
		const interval = 1500;

		if (state % 2 === 0) {
			const currentIndex = shuffleWords(index);
			shuffleElements.forEach((element) => {
				element.classList.remove('keyword-shuffle-animate-out');
				element.classList.add('keyword-shuffle-animate-in');
			});
			setTimeout(runShuffleTimer, interval, currentIndex, newState);
		} else {
			shuffleElements.forEach((element) => {
				element.classList.remove('keyword-shuffle-animate-in');
				element.classList.add('keyword-shuffle-animate-out');
			});
			setTimeout(runShuffleTimer, interval, index, newState);
		}
	}

	// Start animation in onLoad event otherwise animation might not run correctly
	window.onload = () => {
		runShuffleTimer(0, 0);
	};
</script>

<script>
	const contactModal = document.getElementById("contact-modal")!;

	function showContactModal() {
		contactModal.classList.remove("hidden");
	  	contactModal.classList.add("animate-show");
	}

	if (/#contact/.test(window.location.href)) {
		showContactModal();
	}

	const contactLink = document.getElementById("contact-link")!;
	contactLink.addEventListener("click", () => {
		showContactModal();
    });
</script>