---
import Contact from '../components/Contact.astro'
import DarkLayout from "../layouts/DarkLayout.astro";
---

<DarkLayout title="Privacy Policy - Jajanku">
    <div class="container mx-auto px-8 py-16" style="max-width:960px;">
        <div class="mb-6">
            <a href="/" class="flex flex-row items-center space-x-3">
                <img src="/img/logo.svg" alt="Jajanku Logo" class="w-9">
                <span class="text-sm font-semibold mt-2 text-white mb-1">Jajanku</span>
            </a>
        </div>

        <h1 class="md:text-6xl text-4xl font-bold mb-4 text-white">Privacy Policy</h1>
        <p class="font-semibold text-gray-400">Last updated: April 25, 2024</p>

        <div class="mt-20">
            <h2>Introduction</h2>
            <hr class="border-gray-600 mt-2 mb-8" />
            <p>
                This Privacy Policy describes Our policies and procedures on the
                collection, use and disclosure of Your information when You use
                the Service and tells You about Your privacy rights and how the
                law protects You.
            </p>
            <p>
                We use Your Personal data to provide and improve the Service. By
                using the Service, You agree to the collection and use of
                information in accordance with this Privacy Policy.
            </p>
        </div>

        <div class="mt-14">
            <h2>Interpretation and Definitions</h2>
            <hr class="border-gray-600 mt-2 mb-6" />
            <h3 class="mt-4">Interpretation</h3>
            <p>
                The words of which the initial letter is capitalized have
                meanings defined under the following conditions. The following
                definitions shall have the same meaning regardless of whether
                they appear in singular or in plural.
            </p>

            <h3 class="mt-4">Definitions</h3>
            <p>For the purposes of this Privacy Policy:</p>
            <ul class="list-disc list-inside">
                <li>
                    <strong>Application</strong> refers to Jajanku, the software
                        program provided by the Company.
                </li>
                <li>
                    <strong>Company</strong> (referred to as either &quot;the
                        Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot;
                        in this Agreement) refers to Jajanku.
                </li>
                <li>
                    <strong>Device</strong> means any device that can access
                        the Service such as a computer, a cellphone or a digital
                        tablet.
                </li>
                <li>
                    <strong>Personal Data</strong> is any information that relates
                        to an identified or identifiable individual.
                </li>
                <li>
                    <strong>Service</strong> refers to the Application.
                </li>
                <li>
                    <strong>Service Provider</strong> means any natural or legal
                        person who processes the data on behalf of the Company. It
                        refers to third-party companies or individuals employed by
                        the Company to facilitate the Service, to provide the Service
                        on behalf of the Company, to perform services related to
                        the Service or to assist the Company in analyzing how the
                        Service is used.
                </li>
                <li>
                    <strong>You</strong> means the individual accessing or using
                        the Service, or the company, or other legal entity on behalf
                        of which such individual is accessing or using the Service,
                        as applicable.
                </li>
            </ul>
        </div>

        <div class="mt-14">
            <h2>Collecting and Using Your Personal Data</h2>
            <hr class="border-gray-600 mt-2 mb-6" />
            <h3 class="mt-4">We Do Not Collect Your Data</h3>
            <p>
                Jajanku was built on the foundation of an offline-first service.
                All your data is stored on your Device, and is not transmitted
                to or stored by us in any way.
            </p>

            <h3 class="mt-4">Service Providers and Intermediaries</h3>
            <p>
                The Service is subject to third-party companies and individuals
                to facilitate the Service and its distribution (i.e. the App
                Store and Google Play Store). These third parties may have
                access to Your Personal Data to perform these functions on our
                behalf and are obligated not to disclose or use it for any other
                purpose.
            </p>

            <h3 class="mt-4">Children's Privacy</h3>
            <p>
                Our Service does not address anyone under the age of 13. We do
                not collect personally identifiable information from anyone
                including those under the age of 13. If You are a parent or
                guardian and You are aware that Your child has somehow provided
                Us with Personal Data, please contact Us. If We become aware
                that We have collected Personal Data from anyone under the age
                of 13, or anyone of any age for that matter, we will remove that
                data from wherever it is stored.
            </p>
        </div>

        <div class="mt-14">
            <h2>Changes to this Privacy Policy</h2>
            <hr class="border-gray-600 mt-2 mb-6" />
            <p>
                We may update Our Privacy Policy from time to time. We will
                notify You of any changes by posting the new Privacy Policy on
                this page.
            </p>
            <br />
            <p>
                You are advised to review this Privacy Policy periodically for
                any changes. Changes to this Privacy Policy are effective when
                they are posted on this page.
            </p>
        </div>
    </div>

    <hr class="border-gray-600 mt-14" />
    <div class="py-16">
        <Contact title="Have questions?" body="If you have any questions about this Privacy Policy, please don't hesitate to email us." />
    </div>
</DarkLayout>
